<%= form_for :article, url: articles_path do |f| %>
  <% if @article.errors.any? %>
  <%= "Cannot save due to: #{pluralize(@article.errors.count, "error")}" %>
  <p><% @article.errors.each do |error,msg| %>
    <ul id="error"><%= "#{error.capitalize} #{msg}" %></ul>
    <% end %>
  </p>
  <% end %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-title" %>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-body" %>
  <p>
  <ul class="button-group round">  
    <li><%= f.submit class: "button round"%></li>
    <li><%= link_to "Cancel", articles_path, class: "button warning" %></li>
  </ul>
<% end %>