<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="logo"><%= link_to image_tag("snyderdevlogo.png"), root_path, title: "Snyder-Dev Blog" %></li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
  
    <section class="top-bar-section">
      <ul class="right">
        <li class="active"><%= link_to "Home", root_path %></li>
        <li><%= link_to "Blog", articles_path %></li>
        <li><%= link_to "About Us", "#about" %></li>
        <li><%= link_to "Contact Us", "#contact" %></li>
      </ul>
    </section>
  </nav>
</div>
