<%= form_for :article, url: article_path(@article), method: :patch do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-title" %>
  <p>
    <div>
      <%= f.cktext_area :body, rows: 10 %>
    </div>
  <br>
    <%= f.submit class: "button round"%>
<% end %>