<br>
<%= content_for(:title) { "Articles" }%>
<h1>Articles</h1>
  <dl class="sub-nav panel radius">
    <dt>Articles</dt>
      <% @articles.first(4).each do |article| %>
        <dd><%= link_to "#{article.title}", "##{article.title}" %></dd>
      <% end %>
  </dl>
  
  <% @articles.each do |article| %>
  <article class='website-example'>
    <ul>
      <h4><%= link_to "#{article.title}", article_path(article), id: "#{article.title}" %></h4>
      <div class=""><%= markdown(article.body) %></div><br>
      <button class="button round info"><%= link_to "View", article_path(article, anchor: "disqus_thread") %></button>
    </ul>
    <hr>
  </article>
  <% end %>

  <p>
    <%= link_to "New Article", new_article_path %>
  </p>
