<article id="content" class="article-panel">
  <% provide( :title, @article.title ) %>
  <div id="article-info" class="row">


    <div class="small-2 columns">
      <div class="row">
          <div class="small-12 columns">
            <img src="https://avatars1.githubusercontent.com/u/6605437?v=3&s=460" width="100" height="100" class="th label round warning">
          </div>
      </div>
    </div>

    <div class="small-10 columns">
      <h1 class="article-title"><%= @article.title %></h1>
    </div>

    <div id="article-author" class="row">
      <div class="small-12 columns">
        <p>Sean Snyder | Posted: <%= time_ago_in_words(@article.created_at) + " ago" %></p>
        Follow at: <%= link_to "@SnyderRuby", "http://www.twitter.com/SnyderRuby", target: "_blank", class: "label round"%>
      </div>
    </div>
    <div id ="article-body" class="row">
      <div class="small-12 columns inline-right">
        <hr />
        <p><%= markdown(@article.body)%></p>
      </div>
    </div>
</article>

<ul class="button-group round">
  <li><%= link_to "Home", articles_path, class: "button" %></li>
  <li><%= link_to "Edit", edit_article_path, class: "button" %></li>
  <li><%= link_to "Delete", article_path(@article), class: "button", method: :delete, data: { confirm: "Are you sure?"}%></li>
</ul>

<div id="comments">
  <%= render 'disqus' %>
</div>
