<% provide( :title, @article.title ) %>
<article class="article-panel">
      <h1><%= @article.title %></h1>
      <p>Sean Snyder | Posted: <%= time_ago_in_words(@article.created_at) + " ago" %><br>
        Follow at: <%= link_to "@SnyderRuby", "http://www.twitter.com/SnyderRuby", target: "_blank", class: "label round"%><hr></p>
        <%= @article.body.html_safe %>
  </article>
<ul class="small-12 columns button-group round" style="margin-top: 1rem;">
  <li><%= link_to "Home", articles_path, class: "button" %></li>
  <li><%= link_to "Edit", edit_article_path, class: "button" %></li>
  <li><%= link_to "Delete", article_path(@article), class: "button", method: :delete, data: { confirm: "Are you sure?"}%></li>
</ul>
<div id="comments"><%= render 'disqus' %></div>
