<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= titleize(yield :title)%></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="wrapper">
    <nav><%= render 'navbar' %></nav>
    <div class="row">
    <div class="small-4 columns show-for-medium-up">
    <pre class="article-panel"><code>class LearningRubyRails
  def initialize(blog)
      @blog = blog
      @time = '<%= current_time.strftime("%B %d, %Y") %>'
  end
 end</code></pre>
    </div>
    <div id="content" class="small-12 columns article-panel"> <%= yield %> </div>
    <div class="small-12 columns"><%= render 'author' %></div>
  </div>
   <div id="footer"><%= render 'footer' %></div>
  </body>
</html>
