<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class='row'>
    
    <div class='row'>
      <%= render 'navbar' %>
    </div>
    
    <div id="page-container" class='row'>
      <div id="left-side" class='small-2 columns'> Side Bar</div>
      <div id="content" class='small-10 columns'><%= yield %></div>
    </div>
    
    <%= render 'commentcounter' %>

  </body>
</html>
