<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= titleize(yield :title)%></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class='antialiased hide-extras'>
    <nav>
      <div class='row'><%= render 'navbar' %></div>
    </nav>
    
    <div id="page-container" class='row'>    
      <div id="content" class='small-12 columns'><%= yield %></div>
      <!-- ><div id="right-side" class='small-2 columns'></div> -->
    </div>
      
    <footer>
      <div id="top-footer" class="row"><%= render 'top_footer' %></div>
      <div id="footer" class="row"><%= render 'footer' %></div>
    </footer>
  
    <%= render 'commentcounter' %>

  </body>
</html>
