<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= titleize(yield :title)%></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class='article'>
    <nav>
       <div class='row'>
         <%= render 'navbar' %>
       </div>
    </nav>
    
        <div class="row stitch"> <%= yield %> </div>
  
  </br>
    <footer>
      <div id="top-footer" class="row"><%= render 'top_footer' %></div>
      <div id="footer" class="row"><%= render 'footer' %></div>
    </footer>

  </body>
</html>
